<div class="row">
    <div class="col-lg-4">
        <h1>Projektplan</h1>
        <div class="well">
            <a href="https://trello.com/sightingsvasteras">Trello</a>
        </div>
    </div>
    <div class="col-lg-4">
        <h1>Android</h1>
        <div class="well">
            <img src="http://api.qrserver.com/v1/create-qr-code/?color=000000&amp;bgcolor=FFFFFF&amp;data=https%3A%2F%2Fplay.google.com%2Fstore%2Fapps%2Fdetails%3Fid%3Dcom.svenssjj.sightingsvasteras&amp;qzone=1&amp;margin=0&amp;size=400x400&amp;ecc=M" alt="qr code" />

        </div>
    </div>
    <div class="col-lg-4">
        <h1>iOS</h1>
    </div>
</div>
